.headerCustomerPage {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding-bottom: 1%;
    margin: 0 2% 0 2%;
    border-bottom: 1px solid #ACD9C5;
    position: relative;
}

.headerCustomerPage h2 {
    color: #0E8750;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin-left: 4%;
    font-size: 16px;
    line-height: 24px;
    width: 15%;
    text-align: left;
}

.headerTitleCustomer {
    position: absolute;
    left: 1px;
    bottom: 1px;
    color: #0E8750;
}

.profileMainPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: #0E8750;
    margin-right: 8%;
}

.userNameProfile {
    font-family: 'Nunito', sans-serif;
    border-radius: 50%;
    background-color: #DEDEE9;
    font-weight: 600;
    font-size: 22px;
    padding: 7px;
    font-family: 'Nunito';
    font-style: normal;
}

.profileMainPage h4 {
    font-family: 'Nunito', sans-serif;
}

.ballonPoint {
    position: absolute;
    right: 60%;
    bottom: 80%;
}

.edit-button {
    width: 15px;
    margin-top: 4px;
    cursor: pointer;
}

.profileOptions {
    display: flex;
    height: 51px;
    width: 92px;
    background-color: #ffff;
    justify-content: center;
    align-items: center;
    gap: 20%;
    position: absolute;
    top: 90%;
    left: 90%;
    border-radius: 10px;
}

.container-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-edit span {
    font-size: 12px;
    margin-top: 3px;
}

.container-delete span {
    font-size: 12px;
}

.container-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-option {
    width: 20px;
    cursor: pointer;
}

.delete-option {
    width: 25px;
    cursor: pointer;
}